TELEGRAM_BOT_TOKEN=
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_SOURCE_CHAT_ID=
TELEGRAM_TARGET_CHAT_ID=
TELEGRAM_ADMIN_CHAT_ID=
TELEGRAM_USER_SESSION_STRING=
SEEDR_TOKEN_JSON=
MONGODB_URI=mongodb://localhost:27017
WEB_API_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
